{% extends "base.html" %}
{% block content %}
<div class="explanations">
  <h3>Zumba</h3>
	<p>Party yourself into shape with this exhilarating and easy-to-follow latin dance-based workout. Anyone can fall in love with Zumba; an avid dancer, a newbie to the world of fitness, someone who enjoys great music (and isn't afraid to dance, even with two left feet!), or a hardcore gymmie who wants a break from his or her daily routine. Fun and Fitness is what it’s all about; so lose your inhibitions and shed some serious weight by shaking that booty!</p>	
	<h3>Aerobics</h3>
	<p> A hi-low aerobics class which is a fun and challenging cardio workout. New routines are followed every class with a variety of movements leading to muscle confusion to push your body to get the most out of your workout...</p>
	<h3>Step Aerobics</h3>
	<p>This calorie-burning workout helps improve your endurance while toning your muscles. The workout targets the lower body and improves gait and balance as well.</p>
	<h3>HIIT</h3>
	<p>Short and high intensity training sessions that get you results, fast! The workouts focus on fat-burning and muscle-strengthening  which help increase your metabolism and  cardiovascular functioning.</p>
	<h3>Cardio-Kickbox</h3>
	<p>This total-body workout is an intense aerobics class with a strong flavour of Kickboxing. Typically, routines include a series of punches, kicks and other self-defense moves, interspersed with a bouncing 'base' move, to high-octane music.</p>
</div>
{% endblock %}