{% extends "base.html" %}
{% block content %}
<h3>Contact</h3>
<div class="contact-set"><p>For enquires, contact me at:</p>
  <div class="address">
    <p>+91 98846 06610</p>
    <a href="mailto:amrita.f@gmail.com">amrita.f@gmail.com</a>
  </div>
</div>

<div class="contact-set"><p>For rates and registration, contact:</p>
  <div class="address">
    <div class="map">
      <img src="http://maps.google.com/maps/api/staticmap?style=feature:all|element:all|saturation:-20&center=13.060876,80.249956&zoom=16&markers=size:mid|color:red|13.060520,80.249859&path=color:0x0000FF80|weight:5|13.06075,80.24899&size=300x350&sensor=false"/>
    </div>
    <p class="title">O2 Health Studio</p>
    <p>(044) 2833 2121, (044) 4232 3231</p>
    <p>10, Shyam Garden,</p>
    <p>Khader Nawaz Khan Road,</p>
    <p>Nungambakkam,</p>
    <p>Chennai - 600 034</p>
    <div class="clear"></div>
  </div>



</div>

{% endblock %}